* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    color: white;
    font-size: 20px;
}

.inicio {
    padding: 0 130px;
    background-image: url(../ASSETS/banner-bk.jpg);
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.text {
    display: flex;
    color: white;
    font-size: 100px;
}

.logo {
    height: 110px;
}

.texto1 {
    display: flex;
    color: white;
    font-size: 25px;
    width: 1000px;
}

.get {
    color: black;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(73, 228, 176);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.titulo {
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    color: rgb(78, 73, 73);
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

section .caja p {
    width: 70%;
}

.img {
    width: 200px;
}

.gris {
    color: rgb(95, 94, 94);
}

.pa {
    font-size: 25px;
    color: rgb(95, 94, 94);
}

.container {
    display: flex;
    /*  width: 100%; */
    gap: 20px;
    align-items: center;
    /* justify-content: space-around; */
    padding: 0 130px;
}

.learn {
    color: white;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background-color: #122242;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.take {
    padding: 180px 0;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.par {
    font-size: 25px;
    color: rgb(95, 94, 94);
    width: 90%;
}

.take aside {
    width: 50%;
}

.gradiente {
    background: linear-gradient(168deg, white 60%, #00ffae 0);
}

.titule {
    font-size: 50px;
    color: rgb(78, 73, 73);
}

.contenido {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.pricing {
    display: flex;
    width: 100%;
    padding: 90px 0;
    justify-content: center;
    gap: 250px;
}

.texto {
    font-size: 20px;
}

.contenido2 {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #122242;
    width: 30%;
    padding: 80px 0;
}

span {
    font-size: 100px;
    font-weight: 700;
}

.compra {
    color: #122242;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.free {
    color: #122242;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background-color: #00ffae;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 130px;
    background-color: rgb(228, 228, 228);
    height: 200px;
}

.con {
    font-size: 60px;
}

.contact {
    padding: 150px 130px;
    background-image: url(../ASSETS/contact-bk.jpg);
    height: 40vh;
    font-size: 25px;
    display: flex;
    gap: 60px;
}

.contact aside {
    width: 50%;
    color: white;
}

.formulario {
    margin-top: 33px;
    width: 850px;
    font-size: 25px;
}

.formulario label {
    color: #00ffae;
}

.formulario input {
    border-color: #00ffae;
    background: transparent;
    color: white;
    width: 1000px;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario textarea {
    border-color: #00ffae;
    background: transparent;
    color: white;
    height: 100px;
    width: 800px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.form {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.boton {
    color: #122242;
    width: 800px;
    height: 80px;
    border-radius: 50px;
    background-color: #00ffae;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 500;
}

footer {
    display: flex;
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    background-color: #122242;
    height: 150px;
}

.red {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
}

.redes {
    border-radius: 100px;
}