* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
    color: white;
    font-size: 20px;
}

.inicio {
    padding: 0 120px;
    background-image: url(../ASSETS/banner-bk.jpg);
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    display: flex;
    color: white;
    font-size: 80px;
}

.logo {
    height: 110px;
}

.texto1 {
    display: flex;
    color: white;
    font-size: 22px;
    width: 1000px;
}

.get {
    color: black;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(73, 228, 176);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.titulo {
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    color: rgb(78, 73, 73);
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

section .caja p {
    width: 60%;
}

.img {
    width: 150px;
}

.gris {
    color: rgb(95, 94, 94);
}

.pa {
    font-size: 22px;
    color: rgb(95, 94, 94);
}

.container {
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 0 130px;
}

.learn {
    color: white;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background-color: #122242;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.take {
    padding: 180px 0;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.par {
    font-size: 22px;
    color: rgb(95, 94, 94);
    width: 90%;
}

.take aside {
    width: 40%;
}

.gradiente {
    background: linear-gradient(168deg, white 50%, #00ffae 0);
}

.titule {
    font-size: 40px;
    color: rgb(78, 73, 73);
}

.contenido {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.pricing {
    display: flex;
    width: 100%;
    padding: 40px 0;
    justify-content: center;
    gap: 110px;
}

.texto {
    font-size: 20px;
}

.contenido2 {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #122242;
    width: 30%;
    padding: 80px 0;
}

span {
    font-size: 100px;
    font-weight: 700;
}

.compra {
    color: #122242;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.free {
    color: #122242;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background-color: #00ffae;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 130px;
    background-color: rgb(228, 228, 228);
    height: 200px;
}

.con {
    font-size: 50px;
}

.contact {
    padding: 130px 110px;
    background-image: url(../ASSETS/contact-bk.jpg);
    height: 30vh;
    font-size: 22px;
    display: flex;
    gap: 50px;
}

.contact aside {
    width: 50%;
    color: white;
}

.formulario {
    margin-top: 15px;
    width: 550px;
    font-size: 22px;
}

.formulario label {
    color: #00ffae;
}

.formulario input {
    border-color: #00ffae;
    background: transparent;
    color: white;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario textarea {
    border-color: #00ffae;
    background: transparent;
    color: white;
    height: 90px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.boton {
    color: #122242;
    width: 550px;
    height: 45px;
    border-radius: 50px;
    background-color: #00ffae;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
}

footer {
    display: flex;
    color: white;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 0 130px;
    background-color: #122242;
    height: 100px;
}

.red {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 25px;
}

.redes {
    border-radius: 100px;
}

@media screen and (max-width:921px) {


    .inicio {
        padding: 0 130px;
        height: 70vh;
        flex-direction: column;
        gap: 10px;
    }

    header {
        padding: 60px 0;
    }

    .pa {
        font-size: 20px;
    }

    .gris {
        font-size: 25px;
    }

    .par {
        font-size: 20px;
    }

    span {
        font-size: 70px;
        font-weight: 700;
    }

    .formulario {
        margin-top: 0;
        width: 500px;
        font-size: 20px;
    }

    .formulario input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .formulario textarea {
        height: 70px;
    }

    .boton {
        width: 100%;
        height: 40px;
        border-radius: 30px;
        font-size: 25px;
        font-weight: 500;
    }

    .con {
        font-size: 50px;
    }

    .pricing {
        display: flex;
        width: 100%;
        padding: 60px 0;
        justify-content: center;
        gap: 60px;
    }

    .contenido {
        padding: 50px 0;
        height: 90px;
    }

    .contenido2 {
        text-align: center;
        font-size: 20px;
        padding: 50px 0;
        height: 480px;
    }

    .take {
        padding: 130px 0;
    }

    .take aside {
        width: 40%;
    }

    .titulo {
        font-size: 40px;
        padding-top: 60px;
    }

    .titule {
        font-size: 40px;
    }

    .text {
        font-size: 60px;
    }

    .texto1 {
        font-size: 20px;
        width: 700px;
    }

    .imagen {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagen img {
        width: 80%;
    }

    .logos {
        align-items: center;
        padding: 0 80px;
        height: 200px;
    }

    .contact {
        padding: 120px 100px;
    }

    .contact aside {
        height: 80px;
        width: 60%;
        font-size: 15px;
    }

    .contacto {
        width: 80%;
        font-size: 17px;
    }

    .free {
        height: 40px;
    }

    footer {
        font-size: 15px;
        align-items: center;
        padding: 0px 50px;
        height: 60px;
    }

    .redes {
        border-radius: 100px;
        height: 40px;
    }
}

@media screen and (max-width:769px) {
    .inicio {
        padding: 0 100px;
        height: 70vh;
    }

    .text {
        font-size: 50px;
    }

    .texto1 {
        font-size: 20px;
        width: 100%;
    }

    header {
        padding: 50px 0;
    }

    .container {
        padding: 0 80px;
    }

    .titulo {
        font-size: 36px;
        padding-top: 60px;
    }

    .take {
        padding: 80px 0px;
    }

    .pa {
        font-size: 18px;
    }

    .take aside {
        width: 40%;
    }

    .par {
        font-size: 18px;
    }

    .imagen img {
        width: 70%;
    }

    .logos {
        padding: 0 80px;
        height: 90px;
    }

    .log img {
        width: 90%;
    }

    .con {
        font-size: 40px;
    }

    .contacto {
        width: 100%;
        font-size: 15px;
    }

    .contact {
        padding: 80px 80px;
    }

    .contact aside {
        width: 50%;
        font-size: 18px;
    }

    .formulario {
        margin-top: 0;
        width: 500px;
        font-size: 17px;
    }

    .boton {
        height: 35px;
        font-size: 20px;
    }
    footer {
        font-size: 18px;
        padding: 0 50px;
        height: 80px;
    }

    .pricing {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 60px 0;
        justify-content: center;
        gap: 30px;
    }

    .texto {
        font-size: 18px;
        text-align: center;
    }

    .free {
        width: 120px;
        height: 50px;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
    }

    .compra {
        width: 120px;
        height: 50px;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 700;
    }
}

@media screen and (max-width:481px) {
    .inicio {
        padding: 0 40px;
    }

    header {
        padding: 30px;
    }

    .logo {
        height: 90px;
    }

    .get {
        width: 150px;
        height: 40px;
    }

    .titulo {
        font-size: 26px;
        padding-top: 40px;
    }

    .container {
        gap: 8px;
        padding: 0 40px;
    }

    .caja {
        gap: 10px;
    }

    .img {
        width: 100px;
    }

    .gris {
        font-size: 18px;
    }

    .pa {
        font-size: 15px;
    }

    .take {
        padding: 50px 0px;
    }

    .titule {
        font-size: 26px;
    }

    .par {
        font-size: 15px;
    }

    .learn {
        width: 150px;
        height: 40px;
        font-size: 18px;
    }

    .imagen {
        width: 222px;
    }

    .contenido {
        padding: 50px 40px;
        height: 100%;
    }

    .contenido2 {
        padding: 50px 40px;
    }

    .logos {
        padding: 0 30px;
        height: 70px;
    }

    .con {
        font-size: 50px;
    }

    .contact {
        display: block;
        height: 80vh;
        padding: 50px 40px;
    }

    .contacto {
        /* margin-top: 250px; */
        width: 300px;
        height: 100%;
        font-size: 15px;
        display: block;
        align-items: center;
    }

    .formulario {
        height: 0%;
        font-size: 15px;
        margin-top: 280px;
        width: 400px;
    }

    .formulario input {
        width: 400px;
        display: block;
    }

    .formulario textarea {
        width: 400px;
    }

    .form {
        display: block;
        width: 400px;
    }

    .boton {
        height: 35px;
        width: 400px;
    }

    footer {
        font-size: 14px;
        padding: 0 40px;
        height: 70px;
    }

    .redes {
        border-radius: 100px;
        height: 30px;
    }
}

@media screen and (max-width:352px) {
    header {
        padding: 20px;
        gap: 60px;
    }

    .inicio {
        padding: 20 10px;
    }

    .text {
        font-size: 40px;
    }

    .texto1 {
        font-size: 18px;
    }

    .titulo {
        font-size: 24px;
        padding-top: 30px;
    }

    .container {
        gap: 6px;
        padding: 0 18px;
    }

    .take {
        padding: 40px 0px;
    }

    .imagen {
        width: 186px;
    }

    .par {
        font-size: 14px;
        width: 130px;
    }

    .learn {
        width: 130px;
    }

    .pricing {
        padding: 10px 0;
    }

    .contenido2 {
        height: 500px;
        width: 150px;
    }

    .formulario {
        width: 280px
    }

    .form {
        width: 280px;
    }

    .formulario input {
        width: 280px;
    }

    .formulario textarea {
        width: 280px;
    }

    .boton {
        width: 280px;
    }

    footer {
        padding: 0 10px;
    }

    .red {
        gap: 5px;
    }

    .redes {
        height: 30px;
    }
}